:root {
  --primary-color: #100829;
  --secondary-color: #ffd700;
  --accent-color: #d0231d;
  --tertiary-color: #483d03;
  --four-color: #1a090d;
  --fifth-color: #5a0427;
  --navy-blue: #000080;
  --hero-font: "Uchen", serif;
  --paragraph-font: "Questrial", sans-serif;
}
.hero {
  background-image: url("/girl\ background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}
.nav-initials {
  padding: 3px 10px;
}
h1#cyber {
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin-top: 90px;
  font-family: var(--hero-font);
}
p#cyberdelics-info {
  color: #9e2a2b;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 1.5rem;
  margin-top: -23px;
}
.bg-light {
  /*bg color of nav bar*/
  background-color: var(--primary-color) !important;
}
.avatars-bg {
  /* bg color of women avatars*/
  background-color: #100829;
  padding-top: 40px;
}
.avatar-cards {
  background: linear-gradient(to right, red, #ffd700);
  color: white;
  border-width: 1.5px;
}

h2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

p {
  font-family: var(--paragraph-font);
}

button#transform-button {
  background-image: linear-gradient(red, yellow);
  border-radius: 8px;

  border: none;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 3px 13px;
  width: 37%;
  font-family: "Ubuntu", sans-serif;
  font-size: 33px;
}
button#transform-button:hover {
  box-shadow: 0px 0px 20px white;
}
h3.follow-us {
  text-align: center;
  color: white;
  margin-top: 100px !important;
}
.long-line-1 {
  width: 40%;
  margin: 0 auto;
}
.long-line-2 {
  width: 40%;
  margin: 0 auto;
}
.long-line-3 {
  margin: 0 auto;
  width: 40%;
}

.button-card {
  background-color: #0000ff;
}
.button-location {
  background-color: #0000ff;
  border: none;
} /*put btn-primary and customize the same button with css without hover or anything it works*/
.follow-us {
  padding-top: 80px;
}
a.trans {
  text-decoration: none;
}
/*Metalocation page*/
.body-metalication {
  background-color: #100829;
}
.metalocation-container-1 {
  margin-top: 110px;
}
.metalocation-container-2 {
  margin-top: 20px;
}
.genre-info {
  margin-left: -11px;
  gap: 60px;
}
.long-line-2 {
  text-align: left;
}
img.img-location {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.p-location {
  padding: 80px;
}
.follow-us-location {
  text-align: center;
  color: white;
  margin-top: 30px;
}
/*Video Page*/
body.video {
  background-color: #100829;
}
.video-info,
.video-info-2 {
  padding: 80px;
}
.video {
  display: block;
  margin: 0 auto;
}
.animal-wrapper {
  padding-left: 120px;
  padding-right: 120px;
}
.card,
.card-body {
  background-image: linear-gradient(red, yellow);
}
.griddy {
  margin: 0 auto;
}
/*media queries*/
/*meta location section in index.html*/
@media (max-width: 550px) {
  h1#cyber {
    font-size: 30px;
    margin-top: 160px;
  }
  .long-line-1 {
    width: 90%;
  }
  #cyberdelics-info {
    display: none;
  }
  .location-img-index {
    display: none;
  }
  .location-container-1 {
    display: block;
    margin: 0 auto;
  }
  h3.location-title-index {
    text-align: center;
    margin-top: 20px;
  }
  .location-text {
    text-align: center;
  }
  .read-query {
    text-align: center;
  }
  button.button-location {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 360px) and (max-width: 912px) {
  .animal-wrapper {
    padding: 30px;
  }
  .icons-container {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 913px) {
  .icons-container {
    display: flex;
    gap: 100px;
  }
}
