:root {
  --primary-color: #100829;
  --secondary-color: #ffd700;
  --accent-color: #d0231d;
  --tertiary-color: #483d03;
  --four-color: #1a090d;
  --fifth-color: #5a0427;
  --navy-blue: #000080;
  --index-headings-font: "Ubuntu", sans-serif;
  --hero-font: "Uchen", serif;
  --paragraph-font: "Questrial", sans-serif;
}
.hero {
  background-image: url("/girl\ background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}
.nav-initials {
  padding: 3px 8px;
  border: 1px solid white;
  color: white;
}
.nav-initials:hover {
  color: #c724b1;
}
.active {
  color: var(--secondary-color) !important;
  font-weight: bold;
}
h1#cyber {
  color: var(--accent-color);
  font-size: 70px;
  text-align: center;
  margin-top: 180px;
  font-family: var(--hero-font);
}
p#cyberdelics-info {
  color: #9e2a2b;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  line-height: 1.6rem;
  margin-top: -23px;
}
.bg-light {
  /*bg color of nav bar*/
  background-color: var(--primary-color) !important;
}
.avatars-bg {
  /* bg color of women avatars*/
  background-color: var(--primary-color);
  padding-top: 40px;
}
.avatar-cards {
  background: linear-gradient(to right, red, #ffd700);
  color: white;
}
.card-body {
  background-image: linear-gradient(
    red,
    yellow
  ); /*this is for the fantasy animal cards*/
}
h2 {
  color: white;
  font-family: var(--index-headings-font);
  text-align: center;
}

p {
  font-family: var(--paragraph-font);
}

button#transform-button {
  background-image: linear-gradient(#ff007f, yellow);
  border-radius: 8px;
  border: none;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  padding: 3px 13px;
  width: 33%;
  font-family: "Ubuntu", sans-serif;
  font-size: 33px;
  box-shadow: 0px 0px 20px white;
}
button#transform-button:hover {
  color: #c724b1;
  box-shadow: 0px 0px 40px #c724b1;
}
.follow-index {
  margin-top: -50px;
}
h3.follow-us {
  text-align: center;
  color: white;
}
.follow-meta {
  margin-top: 50px;
}
.follow-videos {
  margin-top: 70px;
}
.long-line-1 {
  width: 40%;
  margin: 0 auto;
}
.button-card {
  background-color: #0000ff;
}
.button-location {
  background-color: #0000ff;
  border: none;
} /*put btn-primary and customize the same button with css without hover or anything it works*/
.animals-img {
  height: 300px;
}
.body-cards {
  padding: 10px;
}
.title-on-img {
  margin-top: -40px;
}
.animal-img-height {
  height: 196px;
}
.follow-us {
  padding-top: 40px;
}
.icons-container {
  gap: 20px;
}
.small {
  writing-mode: vertical-rl;
}
.small::after {
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  background-color: white;
}
a.coded-by-link {
  text-decoration: none;
  color: white;
}
a.coded-by-link:hover {
  color: #c724b1;
}

a i {
  color: white;
  font-size: 27px;
}
a i:hover {
  box-shadow: 0px 0px 20px white;
  border-radius: 100%;
  padding: 10px;
  transform: translateY(-17px);
}
/*Metalocation page*/
.body-metalication {
  background-color: var(--primary-color);
}
.metalocation-container-1 {
  margin-top: 110px;
}
.metalocation-container-2 {
  margin-top: 20px;
}
.genre-meta {
  margin-left: -11px;
  gap: 60px;
  font-size: 14px;
}

img.img-location {
  width: 835px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.meta-text {
  padding: 80px;
}
.follow-us-location {
  text-align: center;
  color: white;
  margin-top: 30px;
}
/*Video Page*/
body.video {
  background-color: var(--primary-color);
}

.video-info,
.jason-mail {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 140px;
}
.video {
  display: block;
  margin: 0 auto;
}
.video-p {
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
}
.silva-contact {
  padding-left: 70px;
  padding-right: 70px;
  font-family: var(--paragraph-font);
}
/*media queries*/

@media (max-width: 550px) {
  .nav-initials {
    font-size: 15px;
  }
  h1#cyber {
    font-size: 30px;
    margin-top: 170px;
  }
  p#cyberdelics-info {
    margin-top: 10px;
    width: 230px;
    font-size: 17px;
  }
  .long-line-1 {
    width: 90%;
  }
  .location-img-index {
    display: none;
  }
  .location-text {
    text-align: center;
  }
  .location-container-1 {
    display: block;
    margin: 0 auto;
  }
  h3.location-title-index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 17px;
  }

  .read-query {
    text-align: center;
  }
  button.button-location {
    display: block;
    margin: 0 auto;
  }
  button#transform-button {
    font-size: 13px;
    width: 70%;
  }
}

@media (min-width: 360px) and (max-width: 912px) {
  .icons-container {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 913px) {
  .icons-container {
    display: flex;
    gap: 70px;
  }
}
/*Meta location page media query*/
@media (max-width: 550px) {
  .location-title-meta {
    text-align: left;
  }
  .genre-meta {
    display: flex;
    justify-content: start;
    gap: 14px;
  }
  .img-location {
    padding: 12px;
  }
  .meta-text {
    text-align: left;
    padding: 12px;
    font-size: 14px;
  }
  .back-link {
    text-align: left;
  }
}
@media (min-width: 280px) and (max-width: 411px) {
  .genre-meta {
    font-size: 15px;
  }
}
/*Video page media query*/
@media (max-width: 550px) {
  .video-info {
    text-align: left;
    font-size: 18px;
    padding: 13px;
  }
  .video-time-posted {
    font-size: 15px;
  }
  .video {
    width: 100%;
  }
  .video-p,
  .jason-mail,
  .silva-contact {
    text-align: left;
    padding: 13px;
  }
}
